body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6E3CE;
}
form {
    border: 3px solid #f1f1f1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DF7401;
}

li {
    float: left;
}

li a, li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FE9A2E;
}

.active {
    background-color: #FE9A2E;
}

.vertical-menu {
    width: 30%; /* Set a width if you like */
	height: 400px;
    overflow-y: auto;
} /*So my goal is to add javascript so that you can add additional decks*/

.vertical-menu a {
    background-color: #FBF8EF; /* Background color */
    color: black; /* Text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #FE9A2E; /* Background color change on mouse-over */
}

.vertical-menu a.active {
    background-color: #FE9A2E; /* Add a color to the "active/current" link */
    color: white;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #FE9A2E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.logo {
    width: 20%;
    border-radius: 25%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

span.newU {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
	span.newU {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

