/* CSS modified from open-source templates, unless marked as original */

body {  /* original */
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #F6E3CE;
}

form {
    border: 3px solid #f1f1f1;
}
form.login {
    width: 40%;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DF7401;
}
li {
    float: left;
}
li a, li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #FE9A2E;
}

.active {
    background-color: #FE9A2E;
}

.vertical-menu {
    overflow-y: auto;
} /*So my goal is to add javascript so that you can add additional decks*/
.vertical-menu a {
    background-color: #f1f1f1; /* Background color */
    color: black; /* Text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}
.vertical-menu a:hover {
    background-color: #FE9A2E; /* Background color change on mouse-over */
}
.vertical-menu a.active {
    background-color: #FE9A2E; /* Add a color to the "active/current" link */
    color: white;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #FE9A2E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.logo {
    width: 20%;
    border-radius: 25%;
}

.container {
    padding: 16px;
}

.content {  /* original */
  float: left;
  width: 68%;
  padding-left: 2%;
}
.navbar {   /* original */
  float: left;
  width: 30%;
}

span.psw {
    float: right;
    padding-top: 16px;
}
span.newU {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
	span.newU {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #FE9A2E;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #FE9A2E;
}
.deckpadding{
	width:25%;
	padding-left: 25%;
	padding-bottom: 20%;
	position: relative;
}

.deckpng{
	width: 100%;
	display: block;
	height: auto;
	position: absolute;
	transition: .5s ease;
	backface-visibility: hidden;
}
.deckpadding:hover .deckpng {
  opacity: 0.6;
  cursor: pointer;
}


.popupDeckName {
    display: inline-block;
}
.popupDeckName .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #b1b1b1;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
    position:relative;
}
.popupDeckName .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}